# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = aadnekar
	email = aadne.karstad@gmail.com
[core]
    editor = vim
    excludesFile = ~/.gitignore
[init]
	defaultbranch = "main"
[commit]
	verbose = true
[push]
	default = current
[pull]
	rebase = true
[init]
    defaultbranch = main

